- provide :page_name, 'About'

%h3
  What is
  %em Housing MA
  ?
%p
  Housing MA provides housing data on every municipality in the state, and generates housing needs assessment content for municipal housing planners.
%p
  Housing MA is intended to support the larger Housing Production Planning process. The Simple Needs Assessment and Housing Data Profiles are intended to ease the burden and significantly reduce the cost of the data collection, processing, and analysis needed for Housing Production Plans.
%p
  The
  %strong Simple Needs Assessment
  automatically generates some content for Housing Needs Assessments, required for Housing Production Plans. Most Housing Production Plans will need more content and analysis.
%p
  The
  %strong Housing Data Profile
  shows hundreds of housing-related indicators for each municipality, and compares the municipality to its neighbors, the county, the region (defined by RPA boundary), and the state. The Housing Data Profile eliminates the need for most of the data collection, processing, and analysis traditionally done for Housing Needs Assessments.

%h3 Housing Planning Assistance
%p
  MAPC helps municipalities create and implement housing production plans, creates and disseminates housing data, prepares housing publications and articles, and produces local and comprehensive community development plans and model zoning bylaws for housing diversity and affordability. Our goal is to support planning for adequate, decent and affordable housing that is near jobs and transportation networks.
%p
  If you have questions, or would like to request housing planning services from MAPC, please contact:
%p
  %ul.contact
    %li
      %a{href: 'mailto:jraitt@mapc.org'} Jennifer Raitt
    %li
      Assistant Director of Land Use & Chief Housing Planner
    %li
      Metropolitan Area Planning Council
    %li
      %a{href: 'mailto:jraitt@mapc.org'} jraitt@mapc.org
    %li
      %a{tel:  '617-933-0754'} (617) 933-0754

%h3 Credits
%p
  Housing MA was built by the
  %a{href: 'http://www.mapc.org/data-services'} Data Services Department
  of the
  %a{href: 'http://mapc.org'} Metropolitan Area Planning Council.
%p
  Housing MA was generously supported by the
  %a{href: 'http://www.mass.gov/anf/budget-taxes-and-procurement/working-for-you/community-innovation-challenge-grant/', target: '_blank'}Community Innovation Challenge Grant Program.