%div.container
  %h1 User Guide

  %div.row
    %div.col-md-9
      %h3 Demographics
      %p
        Astronomy compels the soul to look upward, and leads us from this world to another.
      %p
        We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore … We believe in what we’re doing. Now it’s time to go.

      %h4 Population
      %p
        Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.

      %h4 Households
      %p
        We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.
    
    %div.col-md-3.scrollspy
      %div.bs-sidebar.hidden-print.affix
        %ul.nav.bs-sidenav
          %li
            %a Demographics
            %ul
              %li Population
              %li Households