%div.container
  %h1.page-header Support

  %div.container
    %div.col-md-6.col-xs-12
      %p
        If you found this site to be valuable to you in any way, please consider supporting it by making a secure, tax-deductible donation to
        #{link_to('MAPC', 'http://mapc.org', target: '_blank')}.
      %p
        Your contribution will support regular data updates, feature upgrades, and infrastructure costs.
      %p
        Thank you for your support.

      %p= link_to 'Donate via PayPal', '#', target: '_blank'
