- provide :page_name, 'Terms of Service'

%h3 Housing Planning Assistance
%p
  The data presented and available for download on Housing MA has been dedicated to the public domain, under a 
  %a{href: 'https://creativecommons.org/publicdomain/zero/1.0/', target: '_blank'} Creative Commons CC0 License.
%p
  The data presented in informational purposes only, and MAPC makes no guarantees regarding accuracy, etc.