=provide :title, @muni.name if @muni

%div.container

  %h1 
    Download housing data for
    = "#{@muni.name} </br> and".html_safe if @muni
    the Commonwealth

  %h3
    A comprehensive set of value-added data       |
    on every municipality in the state. Interpret |
    the data with the metadata and user guide.

  %center
    %a.btn.btn-lg.btn-primary
      %span.btn-title Download
      %p     data, metadata, and guide
      %small (4.5 MB zipped CSV)
  
  %hr

  %div.row
    %div.col-md-4.download-area.normal
      %h4 User Guide
      %a.btn.btn-default
        Download (1.4 MB .zip)
      %p
        The user guide is a comprehensive listing of
        housing variables and related indicators,
        as well as the significance and possible
        interpretations of the data.
      
      %a.btn.btn-warning.download
        %span.btn-title Download
        %p     User Guide
        %small (1.4 MB .zip)
      %p.center
        or,
        - if @muni
          =link_to 'go to the User Guide page', guide_municipality_path(@muni)
        - else
          =link_to 'go to the User Guide page', guide_path


    %div.col-md-4.download-area.highlighted
      %h4 Data & Metadata
      %a.btn.btn-default
        Download (3.1 MB .zip)

      %p Data includes:
      %ul
        %li demographics
        %li cost burden
        %li affordability gap
        %li supply
      %p
        for all 397 municipalities in Massachusetts,
        as well as for the # RPAs and 14 counties in
        the state.
      
      %a.btn.btn-success.download
        %span.btn-title Download
        %p     Data and Metadata
        %small (3.1 MB .zip)


    %div.col-md-4.download-area.normal
      %h4 Data Processing Scripts
      %a.btn.btn-default
        Download (0.2 MB .zip)
      %p
        These scripts (instructions included) were used by our
        analysts in creating the housing dataset (above) from
        ACS and other raw data.

      %a.btn.btn-default.download
        %span.btn-title Download
        %p     Processing Scripts
        %small (0.2 MB .zip)