=provide :title, @report.muni

%div.container
  %h1
    Housing Needs Assessment for #{@report.muni}, MA

  %div.row
    %div.col-md-10
      = render partial: 'municipalities/report/topic_area', collection: @report.topic_areas
    
      %hr   
      %h2{id: "export"}
        Export
      %p
        Export the #{@report.muni} Housing Needs Assessment to Word.

      %a.btn.btn-lg.btn-primary{href: export_municipality_path(@report.muni)}
        Export to Word (.docx)

      %a.btn.btn-lg.btn-success{href: '#export'}
        Export charts to images (.zip)

    = render partial: 'scrollspy/scrollspy', locals: { content: @report, export: true }