%div.container
  %h1= @muni.titleize
  
  %h3
    Select a service to assist your housing
    production planning process:

  %div.row
    %div.col-md-4.service
      %h4 SimpleHPP
      
      %img{src: 'https://d2k1ftgv7pobq7.cloudfront.net/images/landing/efc043d0d7d8b238848951324e866c8b/what-is-trello1.png'}

      %a.btn.btn-lg.btn-success{href: simple_municipality_path} Select
      %ul
        %li
          Automatically generate a housing needs assessment for
          = @muni
        %li
          Report includes narrative and visualizations of
          critical housing indicators
        %li
          Meets state-legislated requirements for housing
          needs assessment
        %li
          Export document to Word.
      %a.btn.btn-default{href: simple_municipality_path}
        Start planning
        &nbsp;
        %span.glyphicon.glyphicon-arrow-right


    %div.col-md-4.service
      %h4 Housing Data Profile
      
      %img{src: 'https://d2k1ftgv7pobq7.cloudfront.net/images/landing/efc043d0d7d8b238848951324e866c8b/what-is-trello1.png'}

      %a.btn.btn-lg.btn-warning{href: profile_municipality_path} Select
      %ul
        %li
          View statistics on demographics, affordability, tenure, and more in a single set of tables.
        %li
          Compare
          = @muni
          to its neighbors, similar cities, the region,
          and the state.
      %a.btn.btn-default{href: profile_municipality_path}
        View summary tables
        &nbsp;
        %span.glyphicon.glyphicon-arrow-right


    %div.col-md-4.service
      %h4 Data Download
      
      %img{src: 'https://d2k1ftgv7pobq7.cloudfront.net/images/landing/efc043d0d7d8b238848951324e866c8b/what-is-trello1.png'}

      %a.btn.btn-lg.btn-primary{href: download_municipality_path} Select
      %ul
        %li
          Download the data to perform your own analyses
          and visualizations.
        %li
          Dataset includes 200+ attributes on everything from
          demographics to cost burden.
        %li
          Metadata and user guide
      %a.btn.btn-default{href: download_municipality_path}
        View datasets and guide
        &nbsp;
        %span.glyphicon.glyphicon-arrow-right


    
