@import url(http://fonts.googleapis.com/css?family=Oswald:700,400,300|Lato:400,300);

/* basic typography */

$orange:     #F7AD4D;
$light-blue: #5FB0D8;
$dark-blue:  #134B8E;
$green:      #C9E4AE;

$text-base:  #333;
$text-light: #666;
$light-border: 1px solid #DDD;

$select-background:   #00C6D4;
$features-background: steelblue;

$brand-primary:         #83B9F2 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$state-success-bg:      #dff0d8 !default;
$state-info-bg:         #d9edf7 !default;
$state-warning-bg:      #FCF3BA !default;
$state-danger-bg:       #f2dede !default;
$state-primary-bg:      #D5EAFF !default;

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

p { font-size: 16px; }


.centerDiv {
  width:  60%;
  height: 240px;
  margin: 0 auto;
  border: 1px solid #F00;

  text-align: center;
}

.div1 {

  width:  50%;
  min-width: 320px;
  height: inherit;
  border: 1px solid #0F0;
  float:  left;
}

.div2 {

  width:  50%;
  min-width: 320px;
  height: inherit;
  border: 1px solid #00F;
  float:  left;
}


img.whats-inside {
  max-height: 150px;
}

/* Header & Navigation */

.header-pad {
  padding-top: 70px;
}

.title {
  font-size: 64px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.subtitle {
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 36px;
}

.center {
  text-align: center;
}

.col-center {
  float: none;
  margin: 0 auto;
}

.navbar {
  max-height: 50px;
  opacity:    0.9;
}

.navbar-header {
  float:      left;
  padding:    15px; // change this to move header links up/down
  text-align: center;
  width:      100%;
}

.navbar-brand {
  float: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.navbar-nav {
  position: relative;
  top: -50px;
}

.normal { top: 20px; }

.highlighted {
  background-color: #F5F5F5;
  border: 20px solid #F5F5F5;
}

.navbar {
  background-color: #FFF;
  border-bottom: $light-border;
}




/* Home   */

.tagline {
  background-color: $orange;
  color: #FFF;
  margin-top: 50px;
  padding: 3px 0 10px;
  h2, h3, h4 { 
    text-align: center;
    font-weight: 300;
  }
}

#town-select {
  background-color: $light-blue;
  padding: 65px 0 90px;
  margin:  0px 0 0;
  h2, h3 {
    color: white;
  }
  .btn {
    background-color: $green;
    color: $dark-blue;
  }
}

.features {
  padding: 30px 0;
  background-color: $dark-blue;
  margin-bottom: -50px;

  h2 {
    color: white;
    font-weight: bold;
    font-size: 34px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }
}

.feature {
  color: #FFF;
  padding: 0 50px;
  text-align: center;
  h4 {
    font-weight: bold;
    font-size: 22px;
  }
  img {
    margin: 10px 0;
    padding: 10px 0;
  }
}

#start-planning-field {
  width:   165px;
  padding: 15px;
  position: relative;
  top: 15px;
  border-radius: 12px;
  z-index: 10;
  background-color: $dark-blue;
  .btn {
    background-color: $green;
    color: $dark-blue;
  }
}

#quote {
  font-family: serif;
  background-color: #BBBBBE;
  color: #FFF;
  padding-top:    40px;
  padding-bottom: 10px;
  h3 {
    font-size: 35px;
    line-height: 42px;
    padding-bottom: 25px;
  }
  p {
    position:   relative;
    font-size:  24px;
    text-align: right;
    bottom:     10px;
  }
  font-style: italic;
}


/* Autocomplete / Typeahead */

input { 
  min-height: 44px;
  padding: 4px 12px;
  border-top-left-radius:    8px !important;
  border-bottom-left-radius: 8px !important;
}

.typeahead {
  height:    55px;
  font-size: 32px;
}



.input-group-btn {
  button {
    position:  relative;
    bottom:     4px;
    font-size: 25px !important;
    height:    56px !important;
    span {
      margin-left: 4px;
      top:        3px;
    }
  }
}

.twitter-typeahead {
  width: 100%;
  height: inherit;

  .tt-hint {
    display: block;
    height:      55px;
    padding:     6px   12px;
    font-size:   32px;
    line-height: 1.428571429;
    border:      1px solid transparent;
    border-radius: 4px;
    color: #AAA;
  }

  .hint-small {
    height:    30px;
    padding:   5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height:   1.5;
  }

  .hint-large {
    height:        45px;
    padding:       10px 16px;
    font-size:     18px;
    line-height:   1.33;

    border-radius:  6px;
  }
}


.tt-dropdown-menu {
  width: 100%;
}
.tt-hint {
  width: 100%;
}




/* Municipalities / Services */

#profile {
  img {
    background-color: $state-warning-bg;
  }
}

#report {
  img {
    background-color: $state-success-bg;
  }
}

#download {
  img {
    background-color: $state-primary-bg;
  }
}

.service {
  min-height:   250px;
  margin-top:   30px;
  padding:    0 40px;

  h2, h3, h4 { text-align: center; }

  border-right: $light-border;
  &:last-of-type {
    border-right: none;
  }

  img {
    max-height: 200px;
    margin: 0 auto 20px;
    padding: 15px;
    display: block;
    border-radius: 10px;
  }

  .btn {
    display: block;
    margin: 0 auto;
    max-width: 200px;
  }
  .btn-lg {
    max-width: 150px;
    margin-bottom: 25px;
  }

  .btn-default{
    position: relative;
    bottom: 0px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin:  0;
    margin-bottom: 30px;
    li {
      margin-top: 7px;
    }
  }
}



/* Service: Data Download */

.download-area {
  margin-top:   30px;
  padding:    0 40px;

  h2, h3, h4 { text-align: center; }

  .btn-default {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
  }
}

.btn.download {
  display:   block;
  margin:    0 auto;
  max-width: 180px;

  span.btn-title { font-size: 100%; }
  p {
    font-size: 120%;
    margin: 0;
  }
  small { font-size: 100%; }
}


.btn-lg.download {
  display:   block;
  margin:    0 auto;
  max-width: 250px;
  border:    1px solid #22A;

  span.btn-title { font-size: 135%; }
  p { 
    font-size: 100%;
    margin: 0 0 1px;
  }
  small { font-size: 80%; }
}




/* Service: Housing Data Profile */

table {
  width: 100%;
  font-size: 90%;
  thead {
    border-top:    $light-border;
    border-bottom: $light-border;
    vertical-align: bottom;
  }
  th { font-weight: 500; }
  td, th {
    padding: 10px;
    border: $light-border;
    text-align: right;
    &.attr {
      text-align: left;
      max-width: 200px;
    }
    &.muni{
      background-color: #F9F9F9;
      // border-right: #F6F6F6 solid 2px;
    }
    &.operation{
      text-align: right;
      color: #AAA;
      text-transform: capitalize;
    }
  }
}

table.data thead {
  th {
    font-weight: bold;
  }
}

table.data {
  margin-top: 20px;
  margin-bottom: 20px;
}

.borderless td, .borderless th {
  border: none;
}

.topic-area, .topic, .subtopic {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}

.topic-area { background-color: #DDD }
.topic      { background-color: #EEE }
.subtopic   { background-color: #FFF }

table.guide { 
  max-width: 700px;
  th {
    width: 120px;
    font-weight: 700;
    text-align: right;
  }
  td {
    text-align: left;
  }
}

span.moe {
  color:       #AAA;
  margin-left: 2px;
  font-size:   90%;
  // prevent +/- and number from splitting
  display:     block;
  float:       right;
}
span.geography {
  display: block;
  color: #AAA;
}
span.defined {
  display: block;
  color: $text-light;
}

.modal-dialog  { max-width: 400px; }

ul.similar, ul.neighbors {
  list-style:    none;
  margin-left:   20px;
  padding-left:  1em;

  li:before {
    display:     inline-block;
    content:     "-";
    width:       1em;
    margin-left:-1em;
  }
}


span.super {
  vertical-align: super;
  font-size: 80%;
}


/* Static Pages */


ul.contact {
  list-style-type: none;
}


/* Scrollspy */

.bs-sidenav ul > li { 
  list-style-type: none;
  margin-left: 10px;
}

.bs-sidenav a { padding-left: 10px; }

.bs-sidenav {
  color: #787878;
  li {
    font-weight: 400;
    ul {
      display: none;
      padding-left: 10px;
    }

    &.active {
      font-weight: 800;
      ul {
        display: block;
        li.active {
          font-weight: 800;
          ul {
            display: block;
            li.active { }
          }
        }
        li.active > a { 
          border-left: 2px #5E8AC7 solid;
        }
      }
    }
  }
}


.visualization {
  width:90%;
  height: 90%;
}


/* User Guide */

.guide-topic       { background-color: none !important; }
.guide-subtopic    { font-size:  140%; }
.guide-field-alias { margin-top: 30px; }


/* Footer */

.footer {
  border-top: $light-border;
  margin-top:  30px;
  padding-top: 40px;
  // border: 1px #E0F solid;
  a {
    color: $text-light;
    &:hover {
      color: $text-base;
      text-decoration: none;
    }
  }
}

#built-in-boston {
  padding-top: 20px;
  color: #666;
}

.links {
  text-align: center;
  a {
    margin: 0 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

#built {
  position: relative;
  left:     10px;
  bottom: -110px;
  opacity:   0.2;
}