%div.col-md-2#scrollspy
  %div.bs-sidebar.hidden-print.affix
    %ul.nav.bs-sidenav
      %li
        %a{href: '#introduction'} Introduction
        %ul
          %li
            %a{href: '#introduction-legal-context'} Legal Context
      %li
        %a{href: '#demo'} Demographics
        %ul
          %li
            %a{href: '#demo-pop'} Population
            %ul
              %li
                %a{href: '#demo-pop-race'} By Race
      %li
        %a{href: '#demand'} Demand
        %ul
          %li
            %a{href: '#demand-households'} Households
            %ul 
              %li
                %a{href: '#demand-households-total'} Total Households
              %li
                %a{href: '#demand-households-age'} By Age Cohort
          %li
            %a{href: '#demand-housing-units'} Housing Units
            %ul 
              %li
                %a{href: '#demand-housing-units-demand-change'} Demand Change
      %li
        %a{href: '#supply'} Supply
        %ul
          %li
            %a{href: '#supply-housing-units-by-age'} Housing Units by Age
            %ul 
              %li
                %a{href: '#supply-housing-units-by-type'} Housing Units by Type
              %li
                %a{href: '#supply-housing-permits'} Housing Permits 2000-12
      %li
        %a{href: '#afford'} Affordability
        %ul
          %li
            %a{href: '#afford-households-by-income'} Households by Income
          %li
            %a{href: '#afford-cost-burden'} Housing Cost Burden
            %ul
              %li
                %a{href: '#afford-cost-burden-tenure'} By Tenure
              %li
                %a{href: '#afford-cost-burden-income'} By Income
              %li
                %a{href: '#afford-cost-burden-type'} By Household Type
          %li
            %a{href: '#afford-shi'} Subsidized Housing Inventory
          %li
            %a{href: '#afford-recent-home-sales'} Recent Home Sales
      %hr
      %li
        %a{href: '#export'} Export