%div.footer

  %div.row
    %div.col-xs-12
      %div.links
        =link_to 'Help',             help_path
        =link_to 'Contact',          contact_path
        =link_to 'Terms of Service', terms_path

        - if @muni
          =link_to 'Download', download_municipality_path(@muni)
        - else
          =link_to 'Download', download_municipality_path('boston')

        =link_to 'Support',  support_path
        =link_to 'Github',  'http://github.com/MAPC/housingma', target: '_blank'

  %div.row
    %div.col-xs-4.col-xs-offset-4
      %p.center#built-in-boston
        %a{href: "http://bostonbuilt.org"} Built in Boston
        by
      %center
        %img{src: 'http://www.mapc.org/sites/default/files/mapc_logo.png'}

    