%div.footer

  %div.row
    %div.col-xs-12
      %div.links
        =link_to 'Home',             root_path
        =link_to 'About',            about_path
        =link_to 'Help',             help_path
        =link_to 'User Guide',       guide_path
        
        - if @muni
          =link_to 'Download', download_municipality_path(@muni)
        - else
          =link_to 'Download', download_path

        =link_to 'Terms of Service', terms_path
        =link_to 'Github',  'http://github.com/MAPC/housingma', target: '_blank'

  %div.row
    %div.col-xs-4.col-xs-offset-4
      %p.center#built-in-boston
        %a{href: "http://bostonbuilt.org"} Built in Boston
        by
      %center
        %a{href:  'http://www.mapc.org'}
          %img{src: 'http://www.mapc.org/sites/default/files/mapc_logo.png'}

    