%div.footer

  %div.row
    %div.col-xs-12
      %div.links
        %a{href: '#'} Help
        %a{href: '#'} Contact
        %a{href: '#'} Terms of Service
        %a{href: '#'} User Guide
        %a{href: '#'} Download

  %div.row
    %div.col-xs-4
      %img{src: 'http://bostonbuilt.org/boston_built/b_logo_small.png'}
    %div.col-xs-4
      %p Built in Boston by
      %img{src: 'http://www.mapc.org/sites/default/files/mapc_logo.png'}