%div.footer

  %div.row
    %div.col-xs-12
      %div.links
        %a{href: help_path}    Help
        %a{href: contact_path} Contact
        %a{href: terms_path}   Terms of Service
        %a{href: guide_path}   User Guide

        - if @muni
          %a{href: download_municipality_path(@muni.downcase)} Download
        - else
          %a{href: download_municipality_path('boston')} Download

  %div.row
    %div.col-xs-4.col-xs-offset-4
      %p.center#built-in-boston
        %a{href: "http://bostonbuilt.org"} Built in Boston
        by
      %center
        %img{src: 'http://www.mapc.org/sites/default/files/mapc_logo.png'}

    