%div.footer

  %div.row
    %div.col-xs-12
      %div.links
        =link_to 'Home',             root_path
        =link_to 'About',            about_path
        =link_to 'Help',             help_path
        -# =link_to 'User Guide',       guide_path
        
        - if @muni
          =link_to 'Download', download_municipality_path(@muni)
        - else
          =link_to 'Download', download_path

        =link_to 'Terms of Service', terms_path
        =link_to 'Github',  'http://github.com/MAPC/housingma', target: '_blank'

  %div.row
    %div.col-xs-1
      %span#built
        %a{href: "http://bostonbuilt.org", target: '_blank'}
          %img{src: 'http://bostonbuilt.org/boston_built/b_logo_small.png', width: '80'}
    %div.col-sm-4.col-sm-offset-3.col-xs-11
      %p.center#built-in-boston
        Built in Boston by
      %center
        %a{href:  'http://www.mapc.org'}
          %img{src: 'http://www.mapc.org/sites/default/files/mapc_logo.png'}