%nav{class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
  %div.container-fluid
    %div.navbar-header
      %div.nav-center
        %a.navbar-brand{href: muni_or_root_path}
          Housing 
          =yield :title
          MA
    -if muni_page
      =render partial: 'layouts/services'
      =render partial: 'layouts/change_town'

%div.header-pad