%ul.nav.navbar-nav.navbar-left
  %li.dropdown
    %a.dropdown-toggle{data:{toggle: 'dropdown'}}
      Services
      %b.caret
    %ul.dropdown-menu
      %li
        =link_to 'Simple Needs Assessment', report_municipality_path
      %li
        =link_to 'Housing Data Profile',    profile_municipality_path
      %li
        =link_to 'Data Download',           download_municipality_path
      %hr
      %li
        =link_to 'See all services',        municipality_path