%ul.nav.navbar-nav.navbar-left
  %li.dropdown#services
    %a.dropdown-toggle{data:{toggle: 'dropdown'}}
      Services
      %b.caret
    %ul.dropdown-menu
      %li{class: "#{cp(profile_municipality_path)}"}
        =link_to 'Housing Data Profile',   profile_municipality_path
      %li{class: "#{cp(report_municipality_path)}"}
        =link_to 'Basic Needs Assessment', report_municipality_path
      %li{class: "#{cp(download_municipality_path)}"}
        =link_to 'Data Download',          download_municipality_path
      %hr
      %li
        =link_to 'See all services',       municipality_path,          class: "#{cp(municipality_path)}"